//Components
@import 'variables';
@import 'common';
@import 'header';
@import 'layout';
@import 'modal';
@import 'footer';
@import 'fonts';
@import 'navbar';
@import 'left_sidebar';
@import 'right_sidebar';
//Pages
@import 'home-page';
@import 'why-nftify';
@import 'nftify-overview';
@import 'roadmap';
@import 'backed-by';
@import 'built-on';
@import 'token-information';
@import 'latest-news';
@import 'coming-soon';
@import 'slam_home';

//slam
a {
  color: unset;
}
a:hover {
  color: unset;
}
