//Components
@import 'variables';
@import 'common';
@import 'header';
@import 'layout';
// @import 'modal';
@import 'footer';
@import 'fonts';
@import 'navbar';
@import 'left_sidebar';
@import 'right_sidebar';
@import 'accordion';
@import 'menu';
//Pages
// @import 'why-nftify';
// @import 'nftify-overview';
// @import 'roadmap';
// @import 'backed-by';
// @import 'built-on';
// @import 'token-information';
// @import 'latest-news';
// @import 'coming-soon';
@import 'home-page';
@import 'banner';
@import 'introducing';
@import 'created_by';
@import 'story';
@import 'collections';
@import 'features';
@import 'roadmap';
@import 'the_team.scss';
@import 'faq';
@import 'partners';
//slam
a {
  color: unset;
}
a:hover {
  color: unset;
}
