.faq {
  background-color: black;
  position: relative;
  z-index: 1;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 200px;
  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: max-content;
    flex-flow: row wrap;
    counter-reset: brick;

    column-gap: 20px;
    row-gap: 20px;
    grid-auto-rows: auto;
  }
}
@media screen and(max-width:$breakpoint_medium_desktop) {
  .faq {
    &__list {
      flex-flow: column;
    }
  }
}

@media screen and(max-width:$breakpoint_tablet_max) {
  .faq {
    padding-left: 5%;
    padding-right: 5%;
  }
}
