.introducing-wrapper {
  width: 100%;
  background-color: black;
  position: relative;
  .introducing {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    &__left {
      position: relative;
      z-index: 1;
      left: 12%;

      /* identical to box height */
      &__subheader {
        font-size: 25px;
        line-height: 25px;
        text-transform: uppercase;
        margin-bottom: 24px;
        text-align: left;
      }
      &__header {
        font-size: 47px;
        line-height: 53px;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px #ffffff;
        margin-bottom: 24px;
        text-align: left;
      }
      &__content {
        display: block;
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 30px;
        max-width: 500px;
        margin-bottom: 24px;
      }
    }
    &__right {
      position: relative;
      margin-right: 10%;
      z-index: 1;
      width: 40%;
    }
  }
  .websidoe {
    height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 1;
    &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 11%;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: $breakpoint_ultra_desktop_max) {
  .introducing-wrapper {
    .introducing {
      &__left {
        left: 10%;
        &__content {
          font-size: 16px;
          line-height: 23px;
        }
      }
      &__right {
      }
    }
  }
}
@media screen and(min-width:$breakpoint_desktop_max) and(max-width:$breakpoint_medium_desktop) {
  .introducing-wrapper {
    padding-top: 200px;
    .introducing {
      &__right {
      }
      &__left {
        max-width: 300px;
      }
    }
  }
}
@media screen and(max-width:$breakpoint_desktop_max) {
  .introducing-wrapper {
    .introducing {
      flex-direction: column;
      &__left {
        left: 0;
        &__subheader {
          text-align: center;
        }
        &__header {
          text-align: center;
        }
        &__content {
          text-align: center;
        }
      }
      &__right {
        position: relative;
      }
    }
  }
}
