.left_sidebar {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(21, 18, 58, 0);
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: flex-start;
  border-right: 1px solid #ffffff;
  height: 100vh;
  width: $left_sidebar;
  z-index: 1;
  .logo_container {
    background: url('./../resources/images/Logo_slam.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #ffffff;
    min-height: $nav_height;
    margin-bottom: 20px;
  }
  &__header {
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    font-family: 'Quicksand';
    margin-bottom: 30px;
    line-height: 25px;
    text-transform: uppercase;
  }
  .datetime_countdown {
    .datetime_item {
      margin-bottom: 8px;
      .datetime_value {
        display: block;
        font-weight: bold;
        font-size: 40px;
        line-height: 28px;
        font-family: 'Mark Pro-Bold';
      }
      .datetime_label {
        display: block;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 28px;
        font-family: 'Quicksand';
      }
    }
  }
}

@media screen and (max-width: 1440px) {
}
@media screen and(max-width:$breakpoint_desktop_max) {
  .left_sidebar {
    display: none;
  }
}
