.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 4;
  width: 84%;
  height: 100vh;
  left: $left-sidebar;
  background-blend-mode: multiply;
  transition: visibility 0.5s linear 300ms, opacity 0.5s;
}
