.roadmap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 1;
  background-color: black;
  padding-top: 200px;
  padding-left: 15%;
  padding-right: 12%;
  &__container {
    &__header {
      text-align: left;
    }
    &__subheader {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    .timeline_icon {
      width: 31px;
      height: 31px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      transform: rotate(-45deg);
    }
  }
  &__timeline::after {
    background-color: #ffffff;
    content: '';
    position: absolute;
    left: calc(100%);
    width: 2px;
    height: 100%;
    top: 0;
  }
  // &__timeline div:first-child::before {
  //   background-color: black;
  //   content: '';
  //   position: absolute;
  //   left: calc(140%+1px);
  //   width: 2px;
  //   height: 100%;
  //   top: 0;
  // }
  &__item {
    position: relative;
    background: rgba(21, 18, 58, 0.5);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    max-width: 500px;
    &__phase {
      font-size: 24px;
    }
    padding: 40px 15px 40px 20px;
    &_element {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      /* or 150% */
      text-align: left;
      /* Neutrals & Opacity/White/White */

      color: #ffffff;
    }
    .circle {
      border: 1px solid #ffffff;
      position: absolute;
      width: 50px;
      height: 50px;
      left: calc(134.5%);
      top: 50%;
      transform: rotate(45deg);
      z-index: 1;
      background-color: black;
    }
  }
  &__item:first-child span::after {
    border: 1px solid #ffff00;
    box-sizing: border-box;
    /* Yellow Glow */
    content: '';
    filter: drop-shadow(0px 0px 10px #ffc000);
    // transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25%;
    top: 25%;
    z-index: 1;
    background-color: black;
  }
  &__img {
    position: absolute;
    left: 60%;
    top: 40%;
  }
}
