.roadmap {
  position: relative;
  z-index: 1;
  background-color: black;
  padding-top: 200px;
  // padding-left: 15%;
  width: 100%;
  // padding-right: 12%;
  &__container {
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &-content {
      width: 550px;
      // min-width: 550px;
    }
    &__header {
      text-align: left;
    }
    &__subheader {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    border-right: 1px solid #ffffff;
    .timeline_icon {
      width: 31px;
      height: 31px;
      border: 1px solid #ffffff;
      box-sizing: border-box;
      transform: rotate(-45deg);
    }
  }
  // &__timeline::after {
  //   background-color: #ffffff;
  //   content: '';
  //   position: absolute;
  //   left: calc(100%);
  //   width: 2px;
  //   height: 100%;
  //   top: 0;
  // }
  &__timeline div:first-child::before {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    content: 'BRIEF';
    position: absolute;
    left: -25%;
    width: 40%;
    height: 10%;
    transform: rotate(-90deg);
    top: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;
  }
  &__item {
    position: relative;
    background: rgba(21, 18, 58, 0.5);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    max-width: 400px;
    &__phase {
      font-size: 24px;
    }
    padding: 40px 15px 40px 20px;
    &_element {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      /* or 150% */
      text-align: left;
      /* Neutrals & Opacity/White/White */

      color: #ffffff;
    }
    .circle {
      border: 1px solid #ffffff;
      position: absolute;
      width: 50px;
      height: 50px;
      left: calc(550px - 25px);
      top: 50%;
      transform: rotate(45deg);
      z-index: 1;
      background-color: black;
    }
  }
  &__item:first-child span::after {
    border: 1px solid #ffff00;
    box-sizing: border-box;
    /* Yellow Glow */
    content: '';
    filter: drop-shadow(0px 0px 10px #ffc000);
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25%;
    top: 25%;
    z-index: 1;
    background-color: black;
  }

  &__img {
    display: block;
    margin-top: 25%;
    width: 45%;
    object-fit: contain;
  }
}

@media screen and (max-width: $breakpoint_ultra_desktop_max) {
  .roadmap {
    padding-left: 90px;
    &__timeline {
      .timeline_icon {
      }
    }
    &__timeline::after {
    }
    &__item {
      &__element {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
@media screen and(min-width:$breakpoint_desktop_max) and(max-width:$breakpoint_medium_desktop) {
  .roadmap {
    &__container {
      &-content {
        width: 350px;
        min-width: 350px;
      }
    }
    &__item {
      max-width: 300px;
    }
    .circle {
      left: calc(300px + 25px);
    }
    &__img {
      transform: scale(0.8);
    }
    &__timeline div:first-child::before {
      height: 6%;
    }
  }
}

@media screen and(max-width:$breakpoint_desktop_max) {
  .roadmap {
    padding-left: 0;
  }
}
@media screen and(max-width:$breakpoint_tablet_max) {
  .roadmap {
    &__container {
      &__header {
        text-align: center;
      }
      &__subheader {
        text-align: center;
      }
    }
    &__timeline {
      border-right: none;
      align-items: center;
    }
    .circle {
      display: none;
    }
    &__timeline div:first-child::before {
      transform: unset;

      top: -10%;
      left: 30%;
    }
    &__item {
      width: 100%;
    }
  }
}
